<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {{ govukButton({
          text: i18n.buttons.addCompany[i18n.languageCode],
          name: "submission-type",
          value: SUBMISSION_TYPES.ADD_COMPANY,
          attributes : {
              "data-cy": "add-company"
          }
        }) }}
    </div>
</div>