{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

<input type="hidden" name="companyId" value="{{ companyId }}" />
<input type="hidden" name="productId" value="{{ productId }}" />
<input type="hidden" name="template" value="{{ template }}" />

{{ govukSelect({
    id: "company-type",
    name: "company-type",
    attributes : {
        "data-cy": "company-type"
    },
    label: {
        text: i18n.companyType.label[i18n.languageCode]
    },
    items: companyTypes,
    errorMessage: validation.validatedFields[companyId].companyType.isValid == false and {
        text: validation.validatedFields[companyId].companyType.messages | join(". "),
        attributes : {
            "data-cy": "company-type-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-full",
    id: "company-name",
    name: "company-name",
    value: validation.validatedFields[companyId].companyName.value,
    attributes : {
        "data-cy": "company-name"
    },
    label: {
        text: i18n.companyName.label[i18n.languageCode]
    },
    errorMessage: validation.validatedFields[companyId].companyName.isValid == false and {
        text: validation.validatedFields[companyId].companyName.messages | join(". "),
        "attributes" : {
            "data-cy": "company-name-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-full",
    id: "contact-name",
    name: "contact-name",
    value: validation.validatedFields[companyId].contactName.value,
    attributes : {
        "data-cy": "contact-name"
    },
    label: {
        text: i18n.contactName.label[i18n.languageCode]
    },
    errorMessage: validation.validatedFields[companyId].contactName.isValid == false and {
        text: validation.validatedFields[companyId].contactName.messages | join(". "),
        "attributes" : {
            "data-cy": "contact-name-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-full",
    id: "email",
    name: "email",
    value: validation.validatedFields[companyId].email.value,
    attributes : {
        "data-cy": "email"
    },
    label: {
        text: i18n.email.label[i18n.languageCode]
    },
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    errorMessage: validation.validatedFields[companyId].email.isValid == false and {
        text: validation.validatedFields[companyId].email.messages | join(". "),
        "attributes" : {
            "data-cy": "email-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-full",
    id: "telephone1",
    name: "telephone1",
    value: validation.validatedFields[companyId].telephone1.value,
    attributes : {
        "data-cy": "telephone1"
    },
    label: {
        text: i18n.telephone1.label[i18n.languageCode]
    },
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-input--width-20",
    errorMessage: validation.validatedFields[companyId].telephone1.isValid == false and {
        text: validation.validatedFields[companyId].telephone1.messages | join(". "),
        "attributes" : {
            "data-cy": "telephone1-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-full",
    id: "address.line1",
    name: "address.line1",
    value: validation.validatedFields[companyId].address.line1.value,
    autocomplete: "address.line1",
    attributes : {
        "data-cy": "address.line1"
    },
    label: {
        text: i18n.address.line1.label[i18n.languageCode]
    },
    errorMessage: validation.validatedFields[companyId].address.line1.isValid == false and {
        text: validation.validatedFields[companyId].address.line1.messages | join(". "),
        "attributes" : {
            "data-cy": "address.line1-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-full",
    id: "address.line2",
    name: "address.line2",
    value: validation.validatedFields[companyId].address.line2.value,
    autocomplete: "address.line2",
    attributes : {
        "data-cy": "address.line2"
    },
    label: {
        text: i18n.address.line2.label[i18n.languageCode]
    },
    errorMessage: validation.validatedFields[companyId].address.line2.isValid == false and {
        text: validation.validatedFields[companyId].address.line2.messages | join(". "),
        "attributes" : {
            "data-cy": "address.line2-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-two-thirds",
    id: "address.town",
    name: "address.town",
    value: validation.validatedFields[companyId].address.town.value,
    autocomplete: "address-level2",
    attributes : {
        "data-cy": "address.town"
    },
    label: {
        text: i18n.address.town.label[i18n.languageCode]
    },
    errorMessage: validation.validatedFields[companyId].address.town.isValid == false and {
        text: validation.validatedFields[companyId].address.town.messages | join(". "),
        "attributes" : {
            "data-cy": "address.town-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-!-width-two-thirds",
    id: "address.county",
    name: "address.county",
    value: validation.validatedFields[companyId].address.county.value,
    attributes : {
        "data-cy": "address.county"
    },
    label: {
        text: i18n.address.county.label[i18n.languageCode]
    },
    errorMessage: validation.validatedFields[companyId].address.county.isValid == false and {
        text: validation.validatedFields[companyId].address.county.messages | join(". "),
        "attributes" : {
            "data-cy": "address.county-errors"
        }
    }
}) }}

{{ govukInput({
    classes: "govuk-input--width-10",
    id: "address.postcode",
    name: "address.postcode",
    value: validation.validatedFields[companyId].address.postcode.value,
    attributes : {
        "data-cy": "address.postcode"
    },
    label: {
        text: i18n.address.postcode.label[i18n.languageCode]
    },
    errorMessage: validation.validatedFields[companyId].address.postcode.isValid == false and {
        text: validation.validatedFields[companyId].address.postcode.messages | join(". "),
        "attributes" : {
            "data-cy": "address.postcode-errors"
        }
    }
}) }}

{{ govukSelect({
    id: "address.country",
    name: "address.country",
    attributes : {
        "data-cy": "address.country"
    },
    label: {
        text: i18n.address.country.label[i18n.languageCode]
    },
    items: countries,
    errorMessage: validation.validatedFields[companyId].address.country.isValid == false and {
        text: validation.validatedFields[companyId].address.country.messages | join(". "),
        attributes : {
            "data-cy": "address.country-errors"
        }
    }
}) }}
