{% from "govuk/components/button/macro.njk" import govukButton %}

{% set company_edit_path = "/%1/%2/company/edit/%3" | replace("%1", routes.PRODUCT) | replace("%2",  productId) | replace("%3", companyId) %}
{% set company_remove_path = "/%1/%2/company/remove/%3" | replace("%1", routes.PRODUCT) | replace("%2",  productId) | replace("%3", companyId) %}

{{ govukButton({
    text: i18n.buttons.change[i18n.languageCode],
    classes: "govuk-button govuk-button--secondary",
    href: localisePath( company_edit_path, i18n.languageCode),
    attributes : {
        "data-cy": "edit-company-%1" | replace("%1", index)
    }
}) }}

{{ govukButton({
    text: i18n.buttons.remove[i18n.languageCode],
    classes: "govuk-button govuk-button--warning",
    href: localisePath( company_remove_path, i18n.languageCode),
    attributes : {
        "data-cy": "remove-company-%1" | replace("%1", index)
    }
}) }}
