{% from "govuk/components/button/macro.njk" import govukButton %}

{% set product_edit_path = "/%1/edit/%2" | replace("%1", routes.PRODUCT) | replace("%2", id) %}
{% set product_remove_path = "/%1/remove/%2" | replace("%1", routes.PRODUCT) | replace("%2", id) %}


{{ govukButton({
    text: i18n.buttons.change[i18n.languageCode],
    classes: "govuk-button govuk-button--secondary",
    href: localisePath( product_edit_path, i18n.languageCode),
    attributes : {
        "data-cy": "edit-product-%1" | replace("%1", index)
    }
}) }}

{{ govukButton({
    text: i18n.buttons.remove[i18n.languageCode],
    classes: "govuk-button govuk-button--warning",
    href: localisePath( product_remove_path, i18n.languageCode),
    attributes : {
        "data-cy": "remove-product-%1" | replace("%1", index)
    }
}) }}
