{% extends "layout.njk" %}

{% block pageTitle %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" data-cy="page-heading">Accessibility statement for ‘Report a food safety incident’ service</h1>

      <p class="govuk-body">
        This accessibility statement applies to the ‘Report a food safety incident’ service. For the accessibility statement for the website, see the <a href="https://www.food.gov.uk/other/accessibility-statement-for-foodgovuk" class="govuk-link">accessibility statement for food.gov.uk</a>.
      </p>

      <p class="govuk-body">
        This website is run by the Food Standards Agency. We want as many people as possible to be able to use this website. We’ve made the website text as simple as possible to understand.
      </p>

      <p class="govuk-body">
        <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-l">How accessible this website is</h2>

      <p class="govuk-body">
        We know some parts of this website are not fully accessible, for example:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Field labels are in upper case so may be more difficult to read</li>
        <li>Some links are not underlined and are not in sufficient contrast to surrounding colours</li>
        <li>Some headings are the incorrect level, so the relationship between information is unclear</li>
      </ul>

      <h2 class="govuk-heading-l">Feedback and contact information</h2>

      <p class="govuk-body">
        If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Email <a href="mailto:fsa.communications@food.gov.uk">fsa.communications@food.gov.uk</a></li>
        <li>Call <a href="tel:0330 332 7149">0330 332 7149</a> (open 9am until 5pm, Monday to Friday)</li>
      </ul>

      <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>

      <p class="govuk-body">
        We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>Email <a href="mailto:fsa.communications@food.gov.uk">fsa.communications@food.gov.uk</a></li>
        <li>Call <a href="tel:0330 332 7149">0330 332 7149</a> (open 9am until 5pm, Monday to Friday)</li>
      </ul>

      <h2 class="govuk-heading-l">Enforcement procedure</h2>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.
      </p>

      <p class="govuk-body">
        If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the <a href="https://www.equalityni.org/Home" class="govuk-link">Equalities Commission for Northern Ireland</a> who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’) in Northern Ireland.
      </p>

      <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>

      <p class="govuk-body">
        The Food Standards Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-l">Compliance status</h2>

      <p class="govuk-body">
        This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.
      </p>

      <h2 class="govuk-heading-l">Non-accessible content</h2>

      <p class="govuk-body">
        The content listed below is non-accessible for the following reasons.
      </p>

      <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>he Food Standards Agency logo does not have a text alternative, so people using a screen reader cannot access the information. This fails WCAG 2.1 success criterion 1.1.1 (non-text content).</li>
        <li>The colour of the link on ‘Change’ has an insufficient contrast ratio. This fails WCAG 2.1 success criterion 1.4.3 (contrast).</li>
        <li>Some headings are the incorrect level, e.g. H2 instead of H1. This fails WCAG 2.1 success criterion 1.3.1 (info and relationships).</li>
        <li>Some input field labels are missing WAI-ARIA names, including for the best-before date, use-by date, and display-until date fields. This fails WCAG 2.1 success criterion 3.3.2 (labels or instructions).</li>
        <li>Abbreviations are used without a mechanism for identifying the expanded form or meaning. This fails WCAG 2.1 success criterion 3.1.4 (abbreviations).</li>
      </ul>

      <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

      <p class="govuk-body">
        This statement was prepared on 10 December 2020. It was last reviewed on 10 December 2020.
      </p>

    </div>

  </div>
{% endblock %}
