{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
{% if errorSummary.length > 0 %}{{ i18n.error[i18n.languageCode]}}: {% endif %}{{ i18n.pageTitles.addCompany[i18n.languageCode] }}
{% endblock %}

{% set product_url = "/%1/edit/%2" | replace("%1", routes.PRODUCT) | replace("%2",  productId) %}}

{% block content %}

<form method="POST" action="" novalidate>

    {% if validation.isValid == false %}
        {{ govukErrorSummary({
           titleText: i18n.problem[i18n.languageCode],
           errorList: errorSummary,
           attributes : {
               "data-cy": "error-summary"
           }
        }) }}
    {% endif %}

    {% call govukFieldset({
        legend: {
            text: i18n.sections.company[i18n.languageCode],
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

    {{ govukInsetText({
        text: i18n.hints.company[i18n.languageCode]
    }) }}

    {% include "partials/company-form-fields.njk" %}

    {% endcall %}

    {{ govukButton({
        text: i18n.buttons.previous[i18n.languageCode],
        classes: "govuk-button--secondary",
        name: "submission-type",
        value: formSubmitChoices.PREVIOUS,
        attributes : {
            "data-cy": "back"
        }
    }) }}

    {{ govukButton({
        text: i18n.buttons.save[i18n.languageCode],
        name: "submit-action",
        value: formSubmitChoices.NEXT,
        attributes : {
            "data-cy": "submit"
        }
    }) }}

</form>

{% endblock %}
