{% extends "layout.njk" %}

{% block pageTitle %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" data-cy="page-heading">Cookies</h1>

      <h3 class="govuk-heading-m">
        Cookies on the report a food safety incident service
      </h3>

      <p class="govuk-body">
        Cookies are files saved on your phone, tablet or computer when you visit a website. We use cookies to store information about how you use the food.gov.uk website, such as the pages you visit.
      </p>

      <p class="govuk-body">
        We use 1 type of cookie on this service.
      </p>

      <h3 class="govuk-heading-m">
        Strictly necessary cookies
      </h3>

      <p class="govuk-body">
        These essential cookies do things like remember your progress through a form (for example a licence application). They always need to be on.
      </p>

      <p class="govuk-body">
        For more information on how cookies are used across the food.gov.uk site, see here: <a href="https://www.food.gov.uk/cookie-policy">https://www.food.gov.uk/cookie-policy</a>.
      </p>

    </div>

  </div>
{% endblock %}
