{% extends "layout.njk" %}

{% block pageTitle %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" data-cy="index-page-heading">Cookies</h1>

      <p>//TODO need copy describing that we store the information the user enters in a cookie that is cleared when the form is submitted. </p>

    </div>

  </div>
{% endblock %}
