{% extends "layout.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
{% if errorSummary.length > 0 %}{{ i18n.error[i18n.languageCode]}}: {% endif %}{{ i18n.pageTitles.editProduct[i18n.languageCode] }}
{% endblock %}

{% set form_action_path = localisePath( [ "/", routes.PRODUCT ] | join, i18n.languageCode) %}

{% block content %}

<form method="POST" action="{{ form_action_path }}" novalidate>

    {% if validation.isValid == false %}
        {{ govukErrorSummary({
           titleText: i18n.problem[i18n.languageCode],
           errorList: errorSummary,
           attributes : {
                "data-cy": "error-summary"
           }
        }) }}
    {% endif %}

    {% call govukFieldset({
        legend: {
            text: i18n.sections.editProduct[i18n.languageCode],
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

    {% include "partials/product-form-fields.njk" %}

    {% endcall %}

    <div id="companies">
      {% if tabularDetailsOfCompanies | length > 0 %}
          {{ govukTable({
              caption: i18n.sections.companies[i18n.languageCode],
              firstCellIsHeader: true,
              head: [
                  {
                      text: i18n.headings.company[i18n.languageCode]
                  },
                  {
                      text: i18n.headings.action[i18n.languageCode]
                  }
              ],
              rows: tabularDetailsOfCompanies
          }) }}
      {% else %}
          <div>
          </div>
      {% endif %}


      {% include "partials/add-company.njk" %}
    <div>

    {{ govukButton({
        text: i18n.buttons.previous[i18n.languageCode],
        classes: "govuk-button--secondary",
        name: "submission-type",
        value: formSubmitChoices.PREVIOUS,
        attributes : {
            "data-cy": "back"
        }
    }) }}

    {{ govukButton({
        text: i18n.buttons.save[i18n.languageCode],
        attributes : {
            "data-cy": "submit"
        }
    }) }}

</form>

{% endblock %}
