{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ i18n.pageTitles.editCompany[i18n.languageCode] }}
{% endblock %}

{% set action = "%1/%2/company" | replace("%1", routes.PRODUCT) | replace("%2",  productId) %}}

{% block content %}

<form method="POST" action="{{ action }}" novalidate>

    {% call govukFieldset({
        legend: {
            text: i18n.sections.editCompany[i18n.languageCode],
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

    {% include "partials/company-form-fields.njk" %}

    {% endcall %}

    {{ govukButton({
      text: i18n.buttons.save[i18n.languageCode],
      attributes : {
          "data-cy": "submit"
      }
    }) }}

    {{ govukButton({
      text: i18n.buttons.back[i18n.languageCode],
      classes: "govuk-button--secondary",
      href: routes.DETAILS_OF_PRODUCT,
      attributes : {
          "data-cy": "back"
      }
    }) }}

</form>

{% endblock %}
