{% extends "layout.njk" %}

{% block content %}
<p>Form examples</p>

<ul>
    <li><a href="/your-details">Your Details</a></li>
    <li><a href="/details-of-incident">Details of Incident</a></li>
</ul>
{% endblock %}
