{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{{ i18n.pageTitle[i18n.languageCode] }}
{% endblock %}

{% if i18n.languageCode == 'cy' %}
{% set reportAFoodProblemServiceUrl = "https://www.food.gov.uk/cy/contact/consumers/report-problem" %}
{% else %}
{% set reportAFoodProblemServiceUrl = "https://www.food.gov.uk/contact/consumers/report-problem" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" data-cy="index-page-heading">{{ i18n.pageTitle[i18n.languageCode] }}</h1>

      <p class="govuk-body">{{ i18n.text.intro1[i18n.languageCode] }}</p>

      <p class="govuk-body">{{ i18n.text.intro2[i18n.languageCode] }}</p>

      <ul class="govuk-list govuk-list--bullet govuk-list--bullet govuk-list--spaced">
        <li>{{ i18n.text.bullet1[i18n.languageCode] }}</li>
        <li>{{ i18n.text.bullet2[i18n.languageCode] }}</li>
        <li>{{ i18n.text.bullet3[i18n.languageCode] }}</li>
        <li>{{ i18n.text.bullet4[i18n.languageCode] }}</li>
      </ul>

      <p class="govuk-body">{{ i18n.text.intro3[i18n.languageCode] }} <a href="{{ reportAFoodProblemServiceUrl }}">{{ i18n.links.reportAFoodProblemService[i18n.languageCode] }}</a>.</p>

      {{ govukButton({
        text: i18n.buttons.start[i18n.languageCode],
        href: localisePath( [ "/", routes.YOUR_DETAILS ] | join, i18n.languageCode),
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        attributes : {
          "data-cy": "start-button"
        }
      }) }}
    </div>

  </div>
{% endblock %}
