{% extends "govuk/template.njk" %}

{% block headIcons %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/assets/app.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block header %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/js/app.js"></script>
{% endblock %}

{% block footer %}
{% endblock %}
