{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block pageTitle %}
{{ i18n.pageTitle[i18n.languageCode] }}
{% endblock %}

{% block content %}

<form method="POST" action="">

    {% call govukFieldset({
        legend: {
            text: i18n.sections.yourDetails[i18n.languageCode],
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

    {{ govukSelect({
        id: "notifier-type",
        name: "notifier-type",
        attributes : {
            "data-cy": "notifier-type"
        },
        label: {
            text: i18n.notifierType.label[i18n.languageCode]
        },
        items: [
            {
                value: "published",
                text: "Recently published"
            },
            {
                value: "updated",
                text: "Recently updated",
                selected: true
            },
            {
                value: "views",
                text: "Most views"
            },
            {
                value: "comments",
                text: "Most comments"
            }
        ],
        errorMessage: {
            text: "errors",
            attributes : {
                "data-cy": "notifier-type-errors"
            }
        }
    }) }}

    {{ govukInput({
        label: {
            text: "Contact Name"
        },
        classes: "govuk-!-width-two-thirds",
        id: "contact-name",
        name: "contact-name",
        attributes : {
            "data-cy": "contact-name"
        },
        errorMessage: {
            text: "errors and errors['contact-name'] and errors['contact-name'].msg",
            "attributes" : {
                "data-cy": "contact-name-errors"
            }
        }
    }) }}

    {{ govukInput({
        label: {
            text: "Position"
        },
        classes: "govuk-!-width-two-thirds",
        id: "position",
        name: "position",
        errorMessage: {
            text: "errors and errors['position'] and errors['position'].msg",
            attributes : {
                "data-cy": "position-errors"
            }
        }
    }) }}

    {{ govukInput({
        label: {
            text: "Organisation"
        },
        classes: "govuk-!-width-two-thirds",
        id: "organisation",
        name: "organisation",
        errorMessage: {
            text: "errors and errors['contact-name'] and errors['contact-name'].msg",
            attributes : {
                "data-cy": "organisation-errors"
            }
        }
    }) }}

    {% endcall %}




    <fieldset>

        <legend data-cy="legend">{{ i18n.sections.yourDetails[i18n.languageCode] }}:</legend>

        <label for="notifier-type">{{ i18n.notifierType.label[i18n.languageCode] }}:</label>

        <select data-cy="notifier-type" name="notifier-type" id="notifier-type">
            <option value="">--{{ i18n.notifierType.values.defaultValue[i18n.languageCode] }}--</option>
            <option value="industry">{{ i18n.notifierType.values.industry[i18n.languageCode] }}</option>
            <option value="local-authority">{{ i18n.notifierType.values.localAuthority[i18n.languageCode] }}</option>
        </select>

        {% if validation and validation.validatedFields.notifierType %}
            <div data-cy="notifier-type-errors" id="notifier-type-errors">
                <ul>
                {% for message in validation.validatedFields.notifierType.messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        <input data-cy="contact-name"
               type="text"
               id="contact-name"
               name="contact-name"
               minlength="1"
               maxlength="100"
        />

        {% if validation and validation.validatedFields.contactName %}
            <div data-cy="contact-name-errors" id="contact-name-errors">
                <ul>
                {% for message in validation.validatedFields.contactName.messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}


<br/>

        <label for="position">Position:</label>

        <input data-cy="position"
               type="text"
               id="position"
               name="position"
               maxlength="100"
        />

        {% if validation and validation.validatedFields.position %}
            <div data-cy="position-errors" id="position-errors">
                <ul>
                {% for message in validation.validatedFields.position.messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}


<br/>

        <label for="organisation">Organisation:</label>

        <input data-cy="organisation"
               type="text"
               id="organisation"
               name="organisation"
               maxlength="100"
        />

        {% if validation and validation.validatedFields.organisation %}
            <div data-cy="organisation-errors" id="organisation-errors">
                <ul>
                {% for message in validation.validatedFields.organisation.messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}


<br/>

        <label for="email">Email:</label>

        <input data-cy="email"
               type="text"
               id="email"
               name="email"
        />

        {% if errors and errors['email'] %}
            <div data-cy="email-errors" id="email-errors">{{ errors['email'].msg }}</div>
        {% endif %}



<br/>

        <label for="telephone1">Telephone 1:</label>

        <input data-cy="telephone1"
               type="text"
               id="telephone1"
               name="telephone1"
        />

        {% if errors and errors['telephone1'] %}
            <div data-cy="telephone1-errors" id="telephone1-errors">{{ errors['telephone1'].msg }}</div>
        {% endif %}



<br/>

        <label for="telephone2">Organisation:</label>

        <input data-cy="telephone2"
               type="text"
               id="telephone2"
               name="telephone2"
        />

        {% if errors and errors['telephone2'] %}
            <div data-cy="telephone2-errors" id="telephone2-errors">{{ errors['telephone2'].msg }}</div>
        {% endif %}



<br/>

        <label for="address.line1">Address Line 1:</label>

        <input data-cy="address.line1"
               type="text"
               id="address.line1"
               name="address.line1"
        />

        {% if errors and errors['address.line1'] %}
            <div data-cy="address.line1-errors" id="address.line1-errors">{{ errors['address.line1'].msg }}</div>
        {% endif %}



<br/>

        <label for="address.line2">Address Line 2:</label>

        <input data-cy="address.line2"
               type="text"
               id="address.line2"
               name="address.line2"
        />

        {% if errors and errors['address.line2'] %}
            <div data-cy="address.line2-errors" id="address.line2-errors">{{ errors['address.line2'].msg }}</div>
        {% endif %}



<br/>

        <label for="address.line3">Address Line 3:</label>

        <input data-cy="address.line3"
               type="text"
               id="address.line3"
               name="address.line3"
        />

        {% if errors and errors['address.line3'] %}
            <div data-cy="address.line3-errors" id="address.line3-errors">{{ errors['address.line3'].msg }}</div>
        {% endif %}



<br/>

        <label for="address.town">Town:</label>

        <input data-cy="address.town"
               type="text"
               id="address.town"
               name="address.town"
        />

        {% if errors and errors['address.town'] %}
            <div data-cy="address.town-errors" id="address.town-errors">{{ errors['address.town'].msg }}</div>
        {% endif %}



<br/>

        <label for="address.county">County:</label>

        <input data-cy="address.county"
               type="text"
               id="address.county"
               name="address.county"
        />

        {% if errors and errors['address.county'] %}
            <div data-cy="address.county-errors" id="address.county-errors">{{ errors['address.county'].msg }}</div>
        {% endif %}



<br/>

        <label for="address.postcode">Postcode:</label>

        <input data-cy="address.postcode"
               type="text"
               id="address.postcode"
               name="address.postcode"
        />

        {% if errors and errors['address.postcode'] %}
            <div data-cy="address.postcode-errors" id="address.postcode-errors">{{ errors['address.postcode'].msg }}</div>
        {% endif %}



<br/>

        <label for="address.country">{{ i18n.country.label[i18n.languageCode] }}:</label>

        <select data-cy="address.country" name="address.country" id="address.country">
            <option value="">--{{ i18n.country.defaultValue }}--</option>
            <option value="uk">{{ i18n.country.uk }}</option>
            <option value="norway">{{ i18n.country.norway }}</option>
        </select>

        {% if errors and errors['address.country'] %}
            <div data-cy="address.country-errors" id="address.country-errors">{{ errors['address.country'].msg }}</div>
        {% endif %}


        <button data-cy="submit" type="submit">Submit</button>

    </fieldset>


</form>

{% endblock %}
