{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
{% if errorSummary.length > 0 %}{{ i18n.error[i18n.languageCode]}}: {% endif %}{{ i18n.pageTitle[i18n.languageCode] }}
{% endblock %}

{% block content %}

<form method="POST" action="" novalidate>

    {% if validation.isValid == false %}
        {{ govukErrorSummary({
            titleText: i18n.problem[i18n.languageCode],
            errorList: errorSummary,
            attributes : {
                "data-cy": "error-summary"
            }
        }) }}
    {% endif %}

    {% call govukFieldset({
        legend: {
            text: i18n.sections.incidents[i18n.languageCode],
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

    <p class="govuk-body-l">{{ i18n.text.areYouLocal[i18n.languageCode] }}</p>

    {{ govukSelect({
        id: "notifier-type",
        name: "notifier-type",
        classes: "govuk-input govuk-!-width-one-third",
        attributes : {
            "data-cy": "notifier-type"
        },
        label: {
            text: i18n.notifierType.label[i18n.languageCode]
        },
        items: notifierTypes,
        errorMessage: validation.validatedFields.notifierType.isValid == false and {
            text: validation.validatedFields.notifierType.messages | join(". "),
            attributes : {
                "data-cy": "notifier-type-errors"
            }
        }
    }) }}

    {{ govukInput({
        classes: "govuk-!-width-full",
        id: "contact-name",
        name: "contact-name",
        value: yourDetails.contactName.value,
        attributes : {
            "data-cy": "contact-name"
        },
        label: {
            text: i18n.contactName.label[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.contactName.isValid == false and {
            text: validation.validatedFields.contactName.messages | join(". "),
            "attributes" : {
                "data-cy": "contact-name-errors"
            }
        }
    }) }}

    {{ govukInput({
        classes: "govuk-!-width-full",
        id: "position",
        name: "position",
        value: yourDetails.position.value,
        attributes : {
            "data-cy": "position"
        },
        label: {
            text: i18n.position.label[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.position.isValid == false and {
            text: validation.validatedFields.position.messages | join(". "),
            "attributes" : {
                "data-cy": "position-errors"
            }
        }
    }) }}

    {{ govukInput({
        classes: "govuk-!-width-full",
        id: "organisation",
        name: "organisation",
        value: yourDetails.organisation.value,
        attributes : {
            "data-cy": "organisation"
        },
        label: {
            text: i18n.organisation.label[i18n.languageCode]
        },
        hint: {
            text: i18n.organisation.hint[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.organisation.isValid == false and {
            text: validation.validatedFields.organisation.messages | join(". "),
            "attributes" : {
                "data-cy": "organisation-errors"
            }
        }
    }) }}

    {% endcall %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% call govukFieldset({
        legend: {
            text: i18n.sections.incidentsStakeholders[i18n.languageCode],
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

    {{ govukInput({
        classes: "govuk-!-width-full",
        id: "email",
        name: "email",
        value: yourDetails.email.value,
        attributes : {
            "data-cy": "email"
        },
        label: {
            text: i18n.email.label[i18n.languageCode]
        },
        type: "email",
        autocomplete: "email",
        spellcheck: false,
        errorMessage: validation.validatedFields.email.isValid == false and {
            text: validation.validatedFields.email.messages | join(". "),
            "attributes" : {
                "data-cy": "email-errors"
            }
        }
    }) }}

    {{ govukInput({
        classes: "govuk-!-width-full",
        id: "telephone1",
        name: "telephone1",
        value: yourDetails.telephone1.value,
        attributes : {
            "data-cy": "telephone1"
        },
        label: {
            text: i18n.telephone1.label[i18n.languageCode]
        },
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20",
        errorMessage: validation.validatedFields.telephone1.isValid == false and {
            text: validation.validatedFields.telephone1.messages | join(". "),
            "attributes" : {
                "data-cy": "telephone1-errors"
            }
        }
    }) }}

    {% endcall %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% call govukFieldset({
        legend: {
            text: i18n.sections.addresses[i18n.languageCode],
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
    
    {{ govukInput({
        classes: "govuk-!-width-full",
        id: "address.line1",
        name: "address.line1",
        value: yourDetails.address.line1.value,
        autocomplete: "address.line1",
        attributes : {
            "data-cy": "address.line1"
        },
        label: {
            text: i18n.address.line1.label[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.address.line1.isValid == false and {
            text: validation.validatedFields.address.line1.messages | join(". "),
            "attributes" : {
                "data-cy": "address.line1-errors"
            }
        }
    }) }}
    
    {{ govukInput({
        classes: "govuk-!-width-full",
        id: "address.line2",
        name: "address.line2",
        value: yourDetails.address.line2.value,
        autocomplete: "address.line2",
        attributes : {
            "data-cy": "address.line2"
        },
        label: {
            text: i18n.address.line2.label[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.address.line2.isValid == false and {
            text: validation.validatedFields.address.line2.messages | join(". "),
            "attributes" : {
                "data-cy": "address.line2-errors"
            }
        }
    }) }}   

    {{ govukInput({
        classes: "govuk-!-width-two-thirds",
        id: "address.town",
        name: "address.town",
        value: yourDetails.address.town.value,
        autocomplete: "address-level2",
        attributes : {
            "data-cy": "address.town"
        },
        label: {
            text: i18n.address.town.label[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.address.town.isValid == false and {
            text: validation.validatedFields.address.town.messages | join(". "),
            "attributes" : {
                "data-cy": "address.town-errors"
            }
        }
    }) }}

    {{ govukInput({
        classes: "govuk-!-width-two-thirds",
        id: "address.county",
        name: "address.county",
        value: yourDetails.address.county.value,
        attributes : {
            "data-cy": "address.county"
        },
        label: {
            text: i18n.address.county.label[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.address.county.isValid == false and {
            text: validation.validatedFields.address.county.messages | join(". "),
            "attributes" : {
                "data-cy": "address.county-errors"
            }
        }
    }) }}

    {{ govukInput({
        classes: "govuk-input--width-10",
        id: "address.postcode",
        name: "address.postcode",
        value: yourDetails.address.postcode.value,
        attributes : {
            "data-cy": "address.postcode"
        },
        label: {
            text: i18n.address.postcode.label[i18n.languageCode]
        },
        errorMessage: validation.validatedFields.address.postcode.isValid == false and {
            text: validation.validatedFields.address.postcode.messages | join(". "),
            "attributes" : {
                "data-cy": "address.postcode-errors"
            }
        }
    }) }}

    {{ govukSelect({
        id: "address.country",
        name: "address.country",
        classes: "govuk-input govuk-!-width-one-half",
        attributes : {
            "data-cy": "address.country"
        },
        label: {
            text: i18n.text.countryToLocation[i18n.languageCode],
            attributes : {
                "data-cy": "label.address.country"
            }
        },
        items: countries,
        errorMessage: validation.validatedFields.address.country.isValid == false and {
            text: validation.validatedFields.address.country.messages | join(". "),
            attributes : {
                "data-cy": "address.country-errors"
            }
        }
    }) }}

    {% endcall %}


    {{ govukButton({
        text: i18n.buttons.next[i18n.languageCode],
        attributes : {
            "data-cy": "submit"
        }
    }) }}

</form>

{% endblock %}
